* {  
	margin: 0;  
	padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: burlywood;
}

.container {
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
}

.circle {
    position: fixed;
    background-color: brown;
    top: -100px;
    left: -100px;

    width: 200px;
    height: 200px;

    border-radius: 50%;

    z-index: 0;
}

.circle > i {
    position: absolute;
    z-index: 1;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    padding: 0 40px;
}

.sections {
    max-width: 1000px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

section > p {
    line-height: 25px;
}

section > img {
    width: 500px;
    height: auto;
}
