* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EEECE8;
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 100px;
}

.container > .websites-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}